/* Block Accordion */
.accordion {
  margin-bottom: 15px;
}

.accordion-header {
  color: white;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

.accordion-action {
  font-size: 1.75rem;
  line-height: 1;
  padding: 0px 8.5px;
  display: inline-block;
  transition: 0.4s;
}

.accordion-title {
  padding: 5px 15px;
  border-left: solid white 10px;
  position: absolute;
  transition: 0.4s;
}

.accordion-content {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 23px 16px 23px 57px;
  margin-top: 8px;
}

.accordion-content p:first-child {
  margin-top: 0px;
}

.accordion-content p:last-child {
  margin-bottom: 0px;
}

.accordion.open .accordion-action {
  transform: rotate(45deg);
}

.accordion-header:hover > .accordion-title {
  padding-left: 20px;
}
