/* Block Accordion */
.accordion {
  margin-bottom: 15px;
}

.accordion-header {
  color: white;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  padding: 0 0 0.5rem 0;

  .accordion-title {
    font-size: 1.25rem;
    transition: 0.4s;
    width: calc(100% - 30px);
    display: block;
    float: left;
    padding: 0 16px 0 0;
  }

  .accordion-action {
    font-size: 1.75rem;
    line-height: 1;
    display: block;
    transition: 0.4s;
    width: 30px;
    float: left;
    text-align: center;
  }

}

.accordion-content {
  padding: 0 0 16px;
  display: none;
  position: relative;

  .button {
    bottom: 0;
    right: 0;
  }

  p:first-child {
    margin-top: 0px;
  }

  p:last-child {
    margin-bottom: 0px;
  }
}

.accordion.open {
  .accordion-header {
    border-bottom: 0;

    .accordion-action {
      transform: rotate(45deg);
      transform-origin: center;
    }
  }

  .accordion-content {
    display: block;
  }
}
