/**
 * Style für Blog Page und Single Posts
 */

/* Post */
#post-title {
  margin: 0px 0px 0px;
}

#meta {
  text-align: right;
}

.post-box-action {
  text-align: right;
}

/* Category */
.post-boxes {
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
}

.post-box.col {
  flex: 1;
  max-width: 30%;
  min-width: 30%;
}

.post-box-image-container .wp-post-image {
  width: 100%;
}