/**
 * Style für Blog Page und Single Posts
 */
/* Category */

$space-blog: 0.6em;
$margin-side: 1em;

.post-boxes {
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  color: white;
  gap: unset;
  justify-content: space-between;
  margin-bottom: 2em;

  @include breakpoint('xl') {
    max-width: $text-container-max-width;
    margin: 0 auto;
  }
}

.post-box.col {
  flex: 1;
  max-width: calc(33.33% - #{$gap/3*2});
  min-width: calc(33.33% - #{$gap/3*2});
  min-height: 690px;
  position: relative;
  background: $background-blue;

  @include breakpoint('xl') {
    max-width: calc(50% - #{$gap/2});
    min-width: calc(50% - #{$gap/2});
    min-height: 660px;
  }

  @include breakpoint('md') {
    max-width: 100%;
    min-width: 100%;
    min-height: unset;

    .post-box-action {
      margin-top: 1rem;
      position: relative;
      display: inline;
      float: right;
    }
  }

  .blog-info {
    font-size: 0.9em;
    border-bottom: 1px solid white;
    margin-bottom: 0;
    margin-top: 0;
    padding: $space-blog 0;
  }

  .post-box-title, p {
    margin-left: $margin-side;
    margin-right: $margin-side;
  }

  .post-box-title {
    margin-top: $space-blog;

    a {
      color: white !important;
      font-size: 1.15em
    }
  }
}

.post-box-image-container .wp-post-image {
  width: 100%;
  height: 12em;
  object-fit: cover;
  object-position: top;
}

.post-box-action {
  position: absolute;
  bottom: $margin-side;
  right: $margin-side;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/* Post */
#meta {
  display: flex;

  .author-img {
    flex: 0 0 120px;

    img {
      border-radius: 100%;
    }
  }

  .author-meta {
    flex: 1;
    flex-basis: auto;
    vertical-align: bottom;
  }
}

.pagination {
  text-align: center;

  .screen-reader-text {
    font-size: 1rem;
  }

  .nav-links .page-numbers {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    background: $yellow;

    &.current {
      background: $background-blue;
      color: #ffffff;
    }

    &:not(.current):hover {
      filter: brightness(70%);
    }
  }
}