.button, .menu-kontakt-container a, .wp-block-button__link {
  background: #e49d22;
  color: #fff !important;
  padding: 10px 34px;
  transition: all 0.5s ease-out;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover, .menu-kontakt-container:hover a, .wp-block-button__link:hover {
  filter: brightness(70%);
  text-decoration: none;
}

.wp-block-media-text__content .wp-block-button{
	float:right;
	margin-bottom: 0;
}

.text > .wp-block-buttons {
   margin-top: 4em;
  margin-bottom: 4em;
}