.card {
  position: relative;

  p, span.card-title {
    padding-left: $small-gap;
    padding-right: $small-gap;
    padding-bottom: $small-gap;

    a {
      text-decoration: underline;

      &:hover {
        color: #aaa;
      }
    }
  }

  a.card-link {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
  }

  div.card-content {
    height: 140px;
    position: relative;
  }

  span.card-title {
    padding-top: $small-gap;
    font-size: 25px;
    display: block;
  }
}

// Team Group of Cards
.team-group {
  margin-left: $margin-diff;
  max-width: $container-max-width;
  width: 100vw;
  overflow-x: scroll;
  @include breakpoint('sm'){
     margin-bottom: 2em;
  }
  > .wp-block-group__inner-container {
    display: flex;
    gap: $gap;

    .card {
      flex-grow: 1;
      min-width: calc(33.33% - #{$gap*2/3});

      p, span.card-title {
        color: #ffffff;
      }

      @include breakpoint('lg') {
        min-width: calc(50% - #{$gap/2});
      }

      @include breakpoint('sm') {
        min-width: 100%;
      }
    }
  }

  @include breakpoint('lg') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('md') {
    margin-left: 0px;
    width: 100%;
  }
}
