@use "sass:math";

.card {
  position: relative;

  .img-wrapper {
    width: 100%;
    height: 15em;
    position: relative;
  }

  .img-text-wrapper {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #f8f8f8;
    z-index: 15;
    text-align: center;
    @media (max-width: 575.98px) {
      width: 75vw;
    }
  }

  * {
    color: white;
  }

  .card-catchphrase {
    color: $light-blue !important;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  ul {
    padding-right: $small-gap;

    * {
      color: white;
    }

    li {
      margin-bottom: 0.4rem;
    }
  }

  .card-title-content {
    margin-top: 0.85em !important;
  }

  p, span.card-title {
    padding-left: $small-gap;
    padding-right: $small-gap;
    padding-bottom: $small-gap;

    a {
      text-decoration: underline;

      &:hover {
        color: #aaa;
      }
    }
  }

  a.card-link {
    position: absolute;
    width: 70%;
    display: inline-block;
    left: 50%;
    bottom: -3.5em;
    text-align: center;
    transform: translateX(-50%);

    @media (min-width: 992px) and (max-width: 1250px) {
      width: 90%;
    }

    @media (max-width: 750px) {
      width: 90%;
    }
  }

  div.card-content {
    min-height: 140px;
    position: relative;
    margin-bottom: 4.5em;
  }

  span.card-title {
    padding-top: $small-gap;
    font-size: 26px;
    font-weight: bold;
    display: block;
    @media (min-width: 575.5px) and (max-width: 660px) {
      font-size: 22px;
    }
  }

  span.card-subtitle {
    font-size: 20px;
  }

  img.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.card-white {
    background: white;
  }
}

// Team Group of Cards
.team-group {
  margin-left: $margin-diff;
  max-width: $container-max-width;
  width: 100vw;
  cursor: grab;
  position: relative;

  // slight overlay
  &:before, &:after {
    width: 50px;
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
  }

  &:before {
    left: 0;
    background: linear-gradient(to right, $lightgrey 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    right: 0;
    background: linear-gradient(to left, $lightgrey 0%, rgba(255, 255, 255, 0) 100%);
  }

  img {
    pointer-events: none;
  }

  @include breakpoint('sm') {
    margin-bottom: 2em;
  }

  > .wp-block-group__inner-container {
    overflow-x: auto;
    display: flex;
    gap: $gap;
    justify-content: left;
    padding-left: 50px;
    padding-right: 50px;

    .card {
      flex-grow: 1;
      max-width: calc(33.3333% - #{math.div($gap*2 + 60px,3)});
      position: relative;
      min-width: calc(33.3333% - #{math.div($gap*2 + 60px,3)});

      p, span.card-title {
        color: #ffffff;
      }

      @include breakpoint('lg') {
        min-width: calc(50% - #{math.div($gap,2)});
      }

      @include breakpoint('sm') {
        min-width: 100%;
      }
    }
  }

  @include breakpoint('xl') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('lg', 'max') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('sm', 'max') {
    margin-left: 0px;
    width: 100%;
  }
}
