//custom zitat

.custom-citation {

  margin-top: 4em;
  margin-bottom: 7em;

  > div {
    display: inline-block;
  }

  .citation__details {
    width: calc(100% - 8em);

    .citation__text {
      font-style: italic;
    }

    .citation__from {
      margin-top: 0.5em;
      text-align: right;
    }
  }

  .citation__image-wrapper {
    width: 7em;
    height: 7em;

    img {
      border-radius: 50%;
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }
}

//explanation steps
.explanation-step {
  width: 30%;
  @media (min-width: 1300px) {
    width: calc(30% + (200px/3));
  }
  @media (min-width: 1600px) {
    width: calc(30% + 100px);
  }
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1em;
  margin-bottom: 3em;

  @media (min-width: 992.5px) {
    margin-right:1%;
    margin-left:1%;
  }

  @media (min-width: 1300px) {
    &.primary {
      margin-left: -100px;
    }
    &.third {
      margin-right: -100px;
    }
  }
  @media (min-width: 1600px) {
    &.primary {
      margin-left: -150px;
    }
    &.third {
      margin-right: -150px;
    }
  }

  .step__icon {
    text-align: center;
  }

  .step__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .step__abstract {
    .read-less {
      display: none;
    }
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    opacity: 1;
  }

  .step__details {
    display: none;
    width: 150%;
    @media(max-width: 1440px) {
      width: 125%;
      margin-left: -12.5%;
    }
    @media(max-width: 992.5px) {
      width: 100%;
      margin-left: 0;
    }
    margin-left: -25%;
  }

  .read-more, .read-less {
    cursor: pointer;
  }

  @include breakpoint('lg', 'max') {
    width: 49%;
    margin-left: 0px;
    margin-right: 0;
    padding: 10px;
  }
  @include breakpoint('sm', 'max') {
    width: 100%;
    margin-bottom: 0.5em;
    margin-right: 0;
    padding: 0;
  }
}

//custom aussage von martin
.founder {
  margin: 3em 0;

  .founder__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .founder__text p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .read-less, .read-more {
    margin: 0;
    cursor: pointer;
  }

  &__infos{
    align-items: center;
    display: flex;
  }

  &__name{
    margin-left: 1em;
  }

  .read-less {
    display: none;
  }

  .founder__more {
    display: none;
  }

  .founder__image {
    width: 7em;
    height: 7em;
    display: inline-block;
    margin-top: 1em;

    img {
      border-radius: 50%;
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }
}