@import "vars";
@import "menu";
@import "overview";
@import "accordion";
@import "blog";
@import "footer";
@import "form";
@import "media-text";
@import "buttons";
@import "offers";
@import "card";

* {
  box-sizing: border-box;
  font-size: 18px;

  @include breakpoint('lg') {
    font-size: 16px;
  }

  @include breakpoint('md') {
    font-size: 15px;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  background: $lightgrey;

  @include breakpoint('lg') {
      padding-top: $gap;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 35px;

  &.page-title {
    padding-top: $gap;
    text-align: center;
  }
}

h3 {
  font-size: 25px;
}

strong {
  font-weight: bold;
}

/**
* Layout
*/
.container {
  max-width: $container-max-width;
  margin: 0 auto;

  @include breakpoint('sm') {
    margin: 0; // full width
  }
}

.text-container {
  max-width: $text-container-max-width;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#header {
  width: 100%;

  @include breakpoint('lg','min') {
    padding: 2.5rem 0 2.5rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;

    > .container {
      position: relative;
    }
  }

  @include breakpoint('lg') {
    top: 0px;
    background: $header-color;
    z-index: 4;
    padding: 0px $gap;
    border-bottom: 1px solid #aaa;
    background: #ffffff;

    position: fixed;
    height: $mobile-header-height;

    @include breakpoint('sm') {
      padding: 0 $small-gap; // full width
    }
  }

  .container .row {
    min-height: none;
  }
}

#page-content {
  margin-top: -13rem;
  background: $lightgrey;
  padding: 0 $gap $gap; // damit zwischen bild und text noch weisser rand ist
  z-index: 2;
  position: relative;

  @include breakpoint('sm') {
    padding: 0 $small-gap; // full width
    margin-top: -2rem;
  }
}



.img-section {
  min-height: 250px;

  @include breakpoint('lg') {
    min-height: 150px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: -webkit-sticky; /* Safari */
    z-index: 1;
    position: relative;
  }
}

.about {
  position: absolute;
  bottom: 1rem;
}

/**
* Cols
 */
.row {
  display: flex;
  gap: $gap;
  justify-content: flex-start;
}

.col {
  flex: 1;
  flex-basis: 0;
}

/**
* General html elements
*/
img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--blue);
  text-decoration: none;

  &:hover {
    color: var(--darker-blue);
    text-decoration: underline;
  }
}

/* Page Abstract */
.abstract p {
  font-size: 1.25rem;
  color: var(--green);
  font-weight: 600;
  padding: 0px 0 1rem;
  line-height: 1.8rem;
  margin-top: 0px;
}

/* Text */
.text p {
  hyphens: auto;
}

.social-icon {
  margin-right: 1rem;

  &:hover {
    text-decoration: none;
    filter: brightness(50%);
  }

  img {
    width: auto;
    height: 40px;
  }
}

/* override wp styles */
.wp-block-embed, .wp-block-image {
  margin: 0;
}

.wp-block-column p {
  margin-top: 0px;
}

.wp-block-embed iframe {
  width: 100%;
}

/* responsive */
@media only screen and (max-width: 1400px) {
  .content {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    gap: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .img-section {
    flex: 0;
  }

  .logo {
    margin-left: 0px;
  }
}


@media only screen and (max-width: 630px) {
  * {
    font-size: 16px;
  }
}

/*
*
* For pages that want text starting below banner
*/

.page-img-compact {
  #page-content {
    margin-top: 3em;
    background: unset;
  }
}


.wp-block-table {
  margin-left: 0px;
  margin-right: 0px;

  .tr {
    border-bottom: 1px solid black;
  }
}