/* Variablen */
$left-col: 5;
$right-col: 6;

$container-max-width: 1200px;
$text-container-max-width: 800px;

$gap: 30px;
$small-gap: 15px;

$lightgrey: #f8fafc;

@import "menu";
@import "overview";
@import "accordion";
@import "blog";
@import "footer";
@import "form";

* {
  box-sizing: border-box;
  font-size: 18px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  background: $lightgrey;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 35px;
}

h2.page-title {
  text-align: center;
  margin-top: 0px;
}

h3 {
  font-size: 25px;
}

strong {
  font-weight: bold;
}

/**
* Layout
*/
.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $small-gap;
}

.text-container {
  max-width: $text-container-max-width;
  width: 100%;
  margin: 0 auto;
}

#page-content {
  margin-top: -13rem;
  background: #f8fafc;
  padding: $gap;
  z-index: 2;
  position: relative;
}

.img-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: -webkit-sticky; /* Safari */
  z-index: 1;
  position: relative;
  // position: sticky;
  // top: 0;
}

.about {
  position: absolute;
  bottom: 1rem;
}

/**
* Cols
 */
.row {
  display: flex;
  gap: $gap;
}

.col {
  flex: 1;
  flex-basis: 0;
}

/**
* General html elements
*/
img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--darker-blue);
  text-decoration: underline;
}

.button {
  background: #8f2fb6;
  color: #fff;
  padding: 5px 10px;
  transition: all 0.5s ease-out;
  border-radius: 7px;
}

.button:hover {
  filter: brightness(70%);
  text-decoration: none;
}


/* Page Abstract */
.abstract p {
  font-size: 1.4rem;
  color: var(--green);
  font-weight: 600;
  padding: 0px 0 1rem;
  line-height: 1.8rem;
  margin-top: 0px;
}

/* Text */
.text p {
  hyphens: auto;
}

.social-icon {
  margin-right: 1rem;
}

.social-icon img {
  width: auto;
  height: 40px;
}

/* override wp styles */
.wp-block-embed, .wp-block-image {
  margin: 0;
}

.wp-block-column p {
  margin-top: 0px;
}

.wp-block-embed iframe {
  width: 100%;
}

/* responsive */
@media only screen and (max-width: 1400px) {

  .content {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    gap: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 600px;
    margin: 0px auto;
  }

  .img-section {
    flex: 0;
  }

  .logo {
    margin-left: 0px;
  }
}


@media only screen and (max-width: 630px) {
  * {
    font-size: 16px;
  }

  .container {
    margin: 0px 15px;
  }
}