@import "vars";
@import "menu";
@import "overview";
@import "accordion";
@import "blog";
@import "footer";
@import "form";
@import "media-text";
@import "buttons";
@import "offers";
@import "card";
@import "advantages";
@import "custom-blocks";
@import "bootstrap-form";
@import "landing_pages";
@import "modal";
@import "generator";
@import "error-pages/error-404";
@import "woocommerce/woocommerce";
@import "slider";


.mt-2 {
  margin-top: 1em;
}

.mt-4{
  margin-top: 2em;
}

* {
  box-sizing: border-box;
  font-size: 18px;
  color: $background-blue;

  @include breakpoint('xl') {
    font-size: 17px;
  }

  @include breakpoint('lg') {
    font-size: 16px;
  }

  @include breakpoint('md') {
    font-size: 15px;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
 // font-family: 'Assistant', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: $lightgrey;
  overflow-x: hidden;

  @include breakpoint('lg') {
    padding-top: $mobile-header-height;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
  color: $background-blue;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  @media(max-width: 576px) {
    font-size: 2.2rem;
    padding: 0 15px;
    hyphens: auto;
  }
}

.wp-block-embed.is-type-video{
  width: 75%;
  margin-left: 12.5%;
  @media(max-width: 576px) {
    width: 100%;
    margin-left: 0;
  }
}

h2 {
  font-size: 2.0rem;
  margin-top: 1.75em;
  margin-bottom: 1.75em;

  @media(max-width: 992px) {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }

  @media(max-width: 576px) {
    font-size: 1.8rem;
    padding: 0 15px;
    hyphens: auto;
  }

  /*
  &:after {
    content: '';
    display: block;
    height: 1.2em;
    background: url('../../img/wave-blue.svg') no-repeat center center;
    background-size: contain;
    text-align: center;
    margin: auto;
    width: 6vw;

    @include breakpoint('lg') {
        width: 8vw;
    }
    @include breakpoint('md') {
        width: 10vw;
    }
    @include breakpoint('sm') {
        width: 12vw;
    }
    @include breakpoint('xs') {
        width: 20vw;
    }

  }*/
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h2 {
  &.page-title {
    padding-top: $gap;
    text-align: center;
  }
}

strong {
  font-weight: bold;
}

/**
* Layout
*/
.container {
  max-width: $container-max-width;
  margin: 0 auto;

  @include breakpoint('sm') {
    margin: 0; // full width
  }
}

.text-container {
  max-width: $text-container-max-width;

  &.blog-text{
    max-width: $text-container-small-max-width;
  }

  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#header {
  z-index: 999;
  width: 100%;

  @include breakpoint('lg', 'min') {
    padding: 1.5rem $small-gap;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;
    > .container {
      position: relative;
    }
  }

  @include breakpoint('lg') {
    top: 0px;
    background: $header-color;
    padding: 0px $gap;
    border-bottom: 1px solid #aaa;
    position: fixed;
    height: $mobile-header-height;

    @include breakpoint('sm') {
      padding: 0 $small-gap; // full width
    }
  }

  .container .row {
    min-height: none;
  }
}

#page-content {
  margin-top: 0rem;
  background: $lightgrey;
  padding: 0 $gap $gap; // damit zwischen bild und text noch weisser rand ist
  z-index: 6;
  position: relative;

  @include breakpoint('sm') {
    padding: 0 $small-gap; // full width
    margin-top: -2rem;
  }
}


.img-section {
  min-height: 250px;
  height: 420px;
  position: relative;
  @include breakpoint('lg') {
    min-height: 150px;
  }

  img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 50% 10%;
    position: -webkit-sticky; /* Safari */
    z-index: 1;
    position: relative;
  }
}

.about {
  position: absolute;
  bottom: 1rem;
}

/**
* Cols
 */
.row {
  display: flex;
  gap: $gap;
  justify-content: flex-start;
}

.col {
  flex: 1;
  flex-basis: 0;
}

/**
* General html elements
*/
img {
  max-width: 100%;
  height: auto;
  opacity: 0.85;
}

a {
  color: var(--blue);
  text-decoration: none;

  &:hover {
    color: var(--darker-blue);
    text-decoration: underline;
  }
}

/* Page Abstract */
.abstract p {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0px 0 1rem;
  line-height: 1.8rem;
  margin-top: 0px;
  a {
    font-size: inherit;
  }
}

li {
  margin-bottom: 0.4rem;
  list-style: square;
}

/* Text */
.text p {
  hyphens: auto;
  margin-top: 0;
  margin-bottom: 0.9rem;
}

.social-icon {
  margin-right: 1rem;

  &:hover {
    text-decoration: none;
    filter: brightness(50%);
  }

  img {
    width: auto;
    height: 40px;
  }
}

/* override wp styles */
.wp-block-embed, .wp-block-image {
  margin: 0;
}

.wp-block-column p {
  margin-top: 0px;
}

.wp-block-embed iframe {
  width: 100%;
}

/* responsive */
@include breakpoint('xl') {
  .content {
    margin-right: 15px;
  }
}

@include breakpoint('lg') {
  .row {
    gap: 1rem;
  }
}

@include breakpoint('md') {
  .img-section {
    flex: 0;
  }

  .logo {
    margin-left: 0px;
  }
}

/*
*
* For pages that want text starting below banner
*/

.page-img-compact {
  #page-content {
    margin-top: 3em;
    background: unset;
  }
}

// table styles
.wp-block-table {
  margin-left: 0px;
  margin-right: 0px;

  table {
    border-collapse: collapse;

    td {
      border-bottom: 1px solid black;
    }
  }
}

.av-section-color-overlay {
  opacity: 0.38;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
}

#image-text-wrapper {
  width: 80%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: #f8f8f8;
  z-index: 5;
  text-align: center;
  @media (max-width: 575.98px) {
    width: 80vw;
  }

  #main-image-text {
    text-align: center;
    @media(max-width: 576px) {
      font-size: 2rem;
      padding: 0;
    }
    @media (max-width: 405px) {
      font-size: 1.8rem;
    }
    color: white !important;
  }

  #main-subheader {
    text-align: center;
    font-size: 1.6rem;
    @media (max-width: 405px) {
      font-size: 1.4rem;
    }
    color: inherit;
  }

  #main-image-button{
    @media(max-width: 576px) {
      display: block;
    }
  }
}
