/* Footer */
#footer {
  margin: 12rem 0px 0px;
  padding: 7rem 0px 4rem;
  position: relative;
}

#footer * {
  color: #fff;
}

#footer .content {
  padding-bottom: 0px;
}

#footer .logo {
  position: static;
}

#footer h4 {
  color: #ffffff !important;
  margin-top: 0;
  font-size: 22px;
  font-weight: normal;
}

#footer .col p {
  margin-top: 0px;
}

#footer .link {
  color: #ffffff !important;
  text-decoration: underline;
}

#footer .link:hover {
  color: #aaaaaa !important;
}

#footer-blog-post {
  background: #ffffff;
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: - $text-container-max-width/2;
}

#footer-blog-post img {
  vertical-align: bottom;
}

#footer-blog-post p {
  color: #333; // should be overwritten in functions.php
  padding: 1rem 0 !important;
  font-size: 25px;
}

#footer-blog-post span {
  color: #333;
  font-size: 20px;
}

#footer-blog-post .text-part {
  padding: $gap $gap $gap 0px;
  position: relative;
}

#footer-blog-post .button {
  position: absolute;
  right: $gap;
  bottom: $gap;
}

#footer-blog-post .date {
  position: absolute;
  left: 0;
  bottom: $gap;
  padding: 5px 0px;
}

#footer-blog-post .title {
  position: absolute;
  top: $small-gap;
  left: 0;
}