/* Footer */
#footer {
  position: relative;
  margin: 4rem 0px 0px;
  padding: 4rem 0 4rem;

  &.with-post {
    margin: 14rem 0px 0px;
    padding: 12rem 0 4rem;

    @include breakpoint('sm') {
      margin: 0;
    }

    @include breakpoint('md', 'max') {
      padding: 3rem 0 4rem;
    }
  }

  @include breakpoint('md', 'max') {
    padding: 3rem 0 4rem;
  }

  .container {
    padding-left: $small-gap;
    padding-right: $small-gap;
  }

  @include breakpoint('lg') {
    margin-top: 3rem;
    padding: 1rem $small-gap 0;
    text-align: center;

    .row {
      width: 100%;
      max-width: $text-container-max-width;
      margin: 0 auto;

      @include breakpoint('lg') {
        margin: 0;
        padding: 0 $small-gap;

        @include breakpoint('sm') {
          display: inline-block;
        }
      }

      .col {
        flex: 1;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-block;

        @include breakpoint('sm') {
          width: 100%;
        }
      }
    }

    h4 {
      margin-bottom: 0.5rem;
    }

    #social-wrapper-desktop {
      display: none;
    }

    #social-wrapper-mobile {
      display: inline-block;
      width: 100%;
      text-align: center;
      background: $yellow;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  * {
    color: #fff;
  }

  .content {
    padding-bottom: 0px;
  }

  .logo {
    position: static;

    @include breakpoint('lg') {
      max-width: 250px;

      @include breakpoint('md') {
        max-width: 170px;
      }
    }
  }

  h4 {
    color: #ffffff !important;
    margin-top: 0;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0.5rem;
    @include breakpoint('lg', 'max') {
      text-align: center;
    }
  }

  .col p {
    margin-top: 0px;
    margin-bottom: 0;
  }

  .link {
    color: #ffffff !important;
    text-decoration: underline;

    &:hover {
      color: #aaaaaa !important;
    }
  }

}

#footer-blog-post {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 60px;

  @include breakpoint('lg') {
    display: none;
  }

  .row {
    display: block; // use grid instead of flex
    background: white;
    flex: 1;
    position: relative;
  }

  img {
    vertical-align: bottom;
    object-fit: cover;
    object-position: top;
    height: 12em;
  }

  p {
    color: #333; // should be overwritten in functions.php
    padding-bottom: 2rem!important;
    font-size: 20px;
  }
  span {
    font-size: 15px;
  }

  > span {
    padding: 0px 20px;
  }

  .text-part {
    padding: 15px 20px $gap 20px;
  }

  .button {
    position: absolute;
    right: $gap;
    bottom: 14px;
  }

  .date {
    position: absolute;
    left: 20px;
    bottom: 14px;
  }

  .title {

  }
}

#social-wrapper-mobile {
  display: none;
}