select.form-input, input.form-input, textarea.form-input {
  width: 100%;
}

// für Kontaktformular
#contact-form {
  position: relative;

  .button {
    position: absolute;
    bottom: $small-gap;
    right: 0;
    border: 0;
  }
}