@use "sass:math";

.doc-group{
  margin-left: $margin-diff;
  max-width: $container-max-width;
  width: 100vw;
  overflow-x: auto;

  @include breakpoint('sm'){
    margin-bottom: 2em;
  }
  .docs {
    display: flex;
    gap: $gap;
    justify-content: left;

    .doc-wrapper {
      background: white;
      border: 1px solid #3b4856;
      margin-bottom: 30px;

      flex-grow: 1;
      max-width: calc(33.33% - 20px);
      position: relative;
      min-width: calc(33.33% - 20px);

      @include breakpoint('lg') {
        min-width: calc(50% - #{math.div($gap,2)});
      }

      @include breakpoint('sm') {
        min-width: 100%;
      }
      .card-content{
        min-height: unset;
        p {
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 0;
          padding-top: 0.5em;
          margin: 0;
        }
      }
      .doc-info {
        padding-left: 30px;
        padding-right: 30px;
      }
      .doc-image {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: top;
        }
      }
      .button {
        position: absolute;
        width: 70%;
        display: inline-block;
        left: 50%;
        bottom: -3.5em;
        text-align: center;
        transform: translateX(-50%);
      }
      .doc-title {
        margin-top: 1em;
        font-weight: bold;
        font-size: 1.1em
      }

      .doc-type, .doc-created {
        margin-bottom: 0.75em;
      }
    }
  }

  @include breakpoint('xl') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('lg', 'max') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('sm', 'max'){
    margin-left: 0;
    width: 100%;
  }
}