.wp-block-media-text, .media-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $gap;
  margin-bottom: 1em;
  margin-left: $margin-diff;
  background: white;
  color: black;
  height: $block-height-lg;
  border-radius: 0;
  width: 100vw;
  max-width: $container-max-width;

  @include breakpoint('xl') {
    margin-left: -$gap;
    max-width: $text-container-max-width;
  }

  @include breakpoint('md') {
    margin-left: 0px;
    height: auto;
    width: 100%;
    display: block;

    &.is-stacked-on-mobile {
      display: block;
    }
  }

  .wp-block-media-text__content, .text {
    height: inherit;
    text-align: justify;
    vertical-align: top;
    /*background: #A8AF8A;*/
    background: var(--colorDarkGreen);
    color: black;
    padding-right: 0;
    padding-left: calc(1 * var(--grid-gap));
    position: relative;

    p {
      color: black;
    }

    h2, h3, h4, .title {
      margin-top: $gap;

      @include breakpoint('md') {
        margin-top: $small-gap;
      }
    }

    p, h2, h3, h4, .title {
      padding: 0 30px 0 0;
    }

    @include breakpoint('md') {
      padding-left: $small-gap;
      padding-right: $small-gap;
      padding-bottom: $small-gap;
    }

    &.has-media-on-the-right .wp-block-media-text__content {
      grid-template-columns: auto 50% !important;
      padding-left: 0;
      padding-right: calc(1 * var(--grid-gap));
    }
    
    p a {
      text-decoration: underline;

      &:hover {
        color: #aaa;
      }
    }
  }

  .wp-block-media-text__media, .media {
    height: $block-height-lg;

    @include breakpoint('md') {
      height: auto;
    }
  }

  .wp-block-media-text__media img, .media img, .media iframe {
    height: 100%;
    min-height: 360px;
    width: 100%;
    object-position: top;
    object-fit: cover;
  }
}

.media-text-wrapper .button, .wp-block-buttons {
  position: absolute;
  right: $gap;
  bottom: $gap;

  @include breakpoint('md') {
    right: $small-gap;
    bottom: $small-gap;
  }
}

.media-text-wrapper-container {
  display: block;
  margin-top: $gap*2;
  margin-bottom: $gap*2;
}

@media screen and (max-width: 1250px) {
  .wp-block-media-text .content-section-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@include breakpoint('lg') {
  .wp-block-media-text > .wp-block-media-text__content {
    .has-img .content-section-image {
      width: 100%;
      max-width: 750px;
      margin-left: auto !important;
      margin-right: auto !important;
      position: relative;
    }
  }
}

@media (max-width: 767.98px) {
  .wp-block-media-text {
    margin-bottom: 2em;

    .wp-block-media-text__media {
      height: 250px !important;

      img {
        height: 250px !important;
        min-height: unset;
      }
    }
  }
}



.wp-block-embed.is-type-video{
  margin: 4rem 0;
  
  .wp-block-embed__wrapper{
  	padding-top:56.25%;
  	width: 100%;
  	height: 100%;
  	
  	iframe {
  		position:absolute;
  		height: 100%;
  		width: 100%;
  		top: 0;
  		left: 0;
  	}
  }
} 


