//offers desktop
.offer-wrapper {
  position: relative;
  display: block;

  margin-left: $margin-diff;
  max-width: $container-max-width;
  width: 100vw;

  @include breakpoint('xl') {
    margin-left: -$gap;
    max-width: $text-container-max-width;

    @include breakpoint('md') {
      margin-left: 0px;
      width: 100%;
    }
  }
}

.offerings {
  &.row {
    flex-wrap: wrap;
  }

  margin: 0 0 2rem;
  justify-content: center;
}

.offerings-header {
  justify-content: center;
  color: $yellow;

  h2 {
    text-align: center;
  }
}

.offer {
  background: $background-blue;
  color: white;
  max-width: 33.3333%;

  @include breakpoint('lg') {
    min-width: 48%;
    max-width: 48%;

    @include breakpoint('sm') {
      min-width: 100%;
      max-width: 100%;
    }

    .offer-content {
      height: 160px;
    }
  }

  .offer-title {
    padding: 5px 20px;
    font-size: 1.32rem;
  }

  .offer-content {
    height: 140px;
    position: relative;
  }

  .offer-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

.offerings-more {
  justify-content: center;
}

// smartphone
@include breakpoint('lg') {
  .offerings {
    img {
      max-width: unset;
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .offer {
    .offer-content {
      height: 140px;
    }
  }
}