/**
* overview page
*/
.menu-symbol {
  position: absolute;
  right: 0px;
  top: 3rem;
}

.overview > .card {
  background: var(--grey);
  height: 350px;
  margin: 0px 7.5px 15px;
  display: block;
  float: left;
  position: relative;
  transition: 0.5s;
}

.overview > .card.card-rows-2 {
  width: 50%;
  width: calc(50% - 10px);
}

.overview > .card.card-rows-2:nth-child(2n + 1) {
  margin-left: 0px;
}


.overview > .card.card-rows-2:nth-child(2n + 2) {
  margin-right: 0px;
}

.overview > .card.card-rows-3 {
  width: 33.33%;
  width: calc(33.33% - 10px);

}

.overview > .card.card-rows-3:nth-child(3n + 1) {
  margin-left: 0px;
}


.overview > .card.card-rows-3:nth-child(3n + 3) {
  margin-right: 0px;
}

.overview > .card > .card-mask-hover, .overview > .card:hover > .card-mask  {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.overview > .card:hover > .card-mask-hover, .overview > .card > .card-mask  {
  opacity: 1;
}

.overview > .card > .card-hover-img {
  filter: grayscale(100%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.overview > .card:hover > .card-hover-img {
  filter: grayscale(0%);
}

.overview > .card > .card-title {
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.overview > .card > .card-mask, .overview > .card > .card-mask-hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.wp-block-embed.is-type-video{
  margin: 4rem 0;
  
  .wp-block-embed__wrapper{
  	padding-top:56.25%;
  	width: 100%;
  	height: 100%;
  	
  	iframe {
  		position:absolute;
  		height: 100%;
  		width: 100%;
  		top: 0;
  		left: 0;
  	}
  }
  
  
  
  
} 
