/* Variablen */
$left-col: 5;
$right-col: 6;

$container-max-width: 1200px; //maybe go for 1400
$text-container-max-width: 800px; //maybe go for 1000

$gap: 30px;
$small-gap: 15px;

// colors
$background-blue: #3b4856;
$yellow: #e49d22;
$lightgrey: #f0f0f0;
$menu-gray: #808080;
$header-color: #fffff;

$mobile-header-height: 80px;

@function calcHeight($amount: 100%) {
  @return 100% - $mobile-header-height;
}

$block-height-lg: 400px;
$block-height-m: 350px;
$block-height-s: 300px;
$margin-left: -25%;
$margin-right: -25%;
